@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: whitesmoke;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

canvas {
    height: 100%;
    width: 100%;
}
